.htaccess
*.sublime*
.DS_Store
*/.DS_Store
*.DS_Store
tmp/*
log/*
/*temp
*.workspace
*˜
*.lock
*.swp
*.out
*.sqlite3
config/database.yml
wwwroot/*
*.pbxuser
*.mode2v3
*.mode1v3
*.perspective
*.perspectivev3
*~.nib
xcuserdata
project.xcworkspace
/_Assets
/_Assets/*
/node_modules/*
node_modules/*
.sass-cache
.grunt